h1 {
  font-size: 2rem;
  color: black;
  background-color: orange;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
  font-size: 1.5rem;
  color: orange;
  font-family:'Courier New', Courier, monospace
}
img {
  width: 50%;
  height: auto;
  margin-inline: auto;
}
p {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}